{% extends 'base.html' %}

{% block content %}
    <div class="container" style="margin-top: 30px">
        <h4>Transaction Received</h4>
        <table class="table" style="text-align: center">
            <tr>
                <th>Amount</th>
                <th>Date</th>
                <th>From</th>
                <th>View</th>
            </tr>
            {% for transaction in utxo['utxos'] %}
                <tr>
                    <td>+ {{ transaction['amount'] }}</td>
                    <td>{{ transaction['timestamp'] }}</td>
                    <td>{{ transaction['from'] }}</td>
                    <td><a style="color: black" target="_blank"
                           href="/transactions/{{ transaction['transaction_hash'] }}"><i
                            class="fa fa-eye fa-lg"></i></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="container" style="margin-top: 30px">
        <h4>Transaction Sent</h4>
        <table class="table" style="text-align: center">
            <tr>
                <th>Amount</th>
                <th>Date</th>
                <th>To</th>
                <th>View</th>
            </tr>
            {% for transaction in sent %}
                <tr>
                    <td>- {{ transaction['amount'] }}</td>
                    <td>{{ transaction['timestamp'] }}</td>
                    <td>{{ transaction['from'] }}</td>
                    <td><a style="color: black" target="_blank"
                           href="/transactions/{{ transaction['transaction_hash'] }}"><i
                            class="fa fa-eye fa-lg"></i></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}